In [1]:
import sqlite3

In [3]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('ipl.db')
deliveries = pd.read_csv(r'C:\Users\priyam\Downloads\deliveries.csv\deliveries.csv')
deliveries.to_sql('deliveries', conn, if_exists='replace', index=False)
conn.close()

In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('ipl.db')
query = """
SELECT batter, SUM(batsman_runs) AS total_runs
FROM deliveries
GROUP BY batter
ORDER BY total_runs DESC
LIMIT 10;
"""
top_scorers = pd.read_sql_query(query, conn)
conn.close()

print(top_scorers)

           batter  total_runs
0         V Kohli        8014
1        S Dhawan        6769
2       RG Sharma        6630
3       DA Warner        6567
4        SK Raina        5536
5        MS Dhoni        5243
6  AB de Villiers        5181
7        CH Gayle        4997
8      RV Uthappa        4954
9      KD Karthik        4843

In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('ipl.db')
query = """
SELECT bowler, COUNT(*) AS dot_balls
FROM deliveries
WHERE total_runs = 0
GROUP BY bowler
ORDER BY dot_balls DESC
LIMIT 10;
"""
dot_balls = pd.read_sql_query(query, conn)
conn.close()

print(dot_balls)

            bowler  dot_balls
0          B Kumar       1632
1        SP Narine       1569
2         R Ashwin       1552
3        PP Chawla       1325
4  Harbhajan Singh       1263
5        JJ Bumrah       1228
6        RA Jadeja       1216
7        YS Chahal       1194
8         UT Yadav       1186
9         A Mishra       1185

In [8]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('ipl.db')
query = """
SELECT dismissal_kind, COUNT(*) AS count
FROM deliveries
WHERE dismissal_kind IS NOT NULL
GROUP BY dismissal_kind
ORDER BY count DESC;
"""
dismissal_counts = pd.read_sql_query(query, conn)
conn.close()

print(dismissal_counts)

          dismissal_kind  count
0                 caught   8063
1                 bowled   2212
2                run out   1114
3                    lbw    800
4      caught and bowled    367
5                stumped    358
6           retired hurt     15
7             hit wicket     15
8            retired out      3
9  obstructing the field      3

In [9]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('ipl.db')
query = """
SELECT batter, COUNT(*) AS sixes
FROM deliveries
WHERE batsman_runs = 6
GROUP BY batter
ORDER BY sixes DESC
LIMIT 10;
"""
sixes = pd.read_sql_query(query, conn)
conn.close()

print(sixes)

           batter  sixes
0        CH Gayle    359
1       RG Sharma    281
2         V Kohli    273
3  AB de Villiers    253
4        MS Dhoni    252
5       DA Warner    236
6      KA Pollard    224
7      AD Russell    209
8       SV Samson    206
9        SK Raina    204